.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-gap: 10px;
    background-color: rgb(205, 255, 248);
  }
  .un {
    grid-column: 1;
    grid-row: 1 / 3;
    text-align: left;
  }
  .deux { 
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }
  .trois {
    grid-column: 3;
    grid-row: 1 / 3;
    text-align: right;
  }
  .quatre {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
  }
  .cinq {
    grid-column: 1 / 4;
    grid-row: 3;
    text-align: center;
  }
  .six {
    grid-column: 1;
    grid-row: 4;
  }
  .vingttrois {
    grid-column: 1;
    grid-row: 5;
  }
  .vingtquatre {
    grid-column: 1;
    grid-row: 6;
  }
  .sept {
    grid-column: 2 / 3;
    grid-row: 4;
  }
  .huit {
    grid-column: 2 / 3;
    grid-row: 5;
  }
  .neuf {
    grid-column: 2 / 3;
    grid-row: 6;
  }
  .dix {
    grid-column: 1 / 3;
    grid-row: 7;
  }
  .onze {
    grid-column: 1;
    grid-row: 8 / 10;
  }
  .douze {
    grid-column: 2 / 3;
    grid-row: 8;
  }
  .treize {
    grid-column: 2 / 3;
    grid-row: 9;
  }
  .quatorze {
    grid-column: 2 / 3;
    grid-row: 10;
  }
  .quinze {
    grid-column: 1 / 3;
    grid-row: 11;
  }
  .seize {
    grid-column: 1;
    grid-row: 12;
  }
  .dixsept {
    grid-column: 2;
    grid-row: 12;
  }
  .dixhuit {
    grid-column: 3;
    grid-row: 12;
  }
  .dixneuf {
    grid-column: 1 / 3;
    grid-row: 13;
  }
  .vingt {
    grid-column: 1 / 3;
    grid-row: 14;
  }
  .vingtun {
    grid-column: 1 / 3;
    grid-row: 15;
  }
  .vingtdeux {
    grid-column: 1 / 3;
    grid-row: 16;
  }